*charset "UTF-8";

*{
   /* height: 100%;*/
}
body{
    background-image: linear-gradient(to right,#00ff00, #ccff33, #ffff00);
}
p{
    text-align: justify; 
}
main{
    background-color: white;
    border-radius:10px;
    box-shadow: 5px 5px 15px rgba(139, 134, 64, 0.644);
    width:600px;
    padding: 10px;
    margin:auto;
}
h1{
 color: aqua;
 text-align: center;
 text-shadow: 3px 2px 5px rgba(17, 39, 241, 0.699);
}
h2 {color: blue;}